/*Whole page css*/
html, body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}
/*Background css*/
.background {
  background-image: url(../images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
  width: 100vw;
  background-position: center center;
  height: 100vh;
}
/*Navigation bar css*/
.navbar {
  width: 100%;
  height: 200px;
}
/*Logo css*/
#logo {
  width: 152px;
  height: 200px;
  background-image: url(../images/logo.png);
  float: left;
  margin-top: -25px;
}
/*Navigation links css*/
#navigation {
  margin: 0 auto;
  display: table;
  margin-top: 55px;
}
#navigation a {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  color: #fff;
  line-height: 30px;
  font-weight: 300;
  margin-right: 70px;
  position: relative;
}
a:focus {
  text-decoration: none !important;
}
#navigation a:hover {
  text-decoration: none;
  padding-bottom: 10px;
}
#navigation a:hover::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #fff;
  bottom: 0;
  left: 0;
}
a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-size: 25px;
  color: white;
}
/*Right navigation css*/
#sign-in {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  margin-right: -115px;
}
#sign-in .text a {
  font-size: 25px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  margin-left: 15px;
}
#sign-in a:hover {
  position: relative;
  text-decoration: none;
  padding-bottom: 10px;
}
#sign-in a:hover::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #fff;
  bottom: 0;
  left: 0;
}
/*Slogan css*/
.slogan {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.slogan h1 {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 60px;
}
.slogan h1 span {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: #F6482B;
  font-size: 120px;
  font-weight: 700;
}
.slogan a {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: #fff;
}
/*Play button css*/
#play {
  border: 1px solid white;
  border-radius: 60px;
  padding: 20px 125px;
  text-align: center;
  transition: all .25s ease-in-out;
}
#play:hover, #play:focus {
  background-color: #F6482B;
  text-decoration: none;
  color: #fff;
  transition: all .25s ease-in-out;
}
#play-btn {
  margin-top: 65px;
}
/*Modal for trailer css*/
#myModal {
  position: absolute;
}
#myModal video {
  width: 1200px;
  height: 675px;
  margin-left: calc(50% - 600px);
  margin-top: 25px;
}
/*if logged in, username will appear in this position*/
#showUserName {
  width: 306px;
  position: fixed;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  text-align: center;
  color: #F6482B;
  line-height: 30px;
  font-weight: 300;
  margin-top: -350px;
  margin-left: 615px;
}
/*Footer css*/
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #2a2a2a;
  color: rgba(255, 255, 255, 0.726);
  text-align: center;
}
