/*Whole page css*/
html, body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}
/*Background css*/
.background {
  background-image: url(../images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
  width: 100vw;
  background-position: center center;
  height: 100vh;
}
/*Navigation bar css*/
.navbar {
  width: 100%;
  height: 200px;
}
/*Logo css*/
#logo {
  width: 152px;
  height: 200px;
  background-image: url(../images/logo.png);
  float: left;
  margin-top: -25px;
  margin-right: -92px;
}
/*Navigation links css*/
#navigation {
  margin: 0 auto;
  display: table;
  margin-top: 55px;
}
#navigation a {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  color: #fff;
  line-height: 30px;
  font-weight: 300;
  margin-right: 70px;
}
#navigation a:hover {
  position: relative;
  text-decoration: none;
  padding-bottom: 10px;
}
#navigation a:hover::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #fff;
  bottom: 0;
  left: 0;
}
a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-size: 25px;
  color: white;
}
/*Right navigation css*/
#sign-in {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  margin-right: -95px;
}
#sign-in .text a {
  font-size: 25px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  margin-left: 15px;
}
#sign-in a:hover {
  position: relative;
  text-decoration: none;
  padding-bottom: 10px;
}
#sign-in a:hover::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #fff;
  bottom: 0;
  left: 0;
}
/*Cover css*/
#cover {
  background-image: url('../images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
  background-position: center center;
  height: 50vh;
}
/*Page title css*/
.text h2 {
  font-size: 52px;
  color: #fff;
  line-height: 48px;
  font-weight: 400;
  margin-top: 100px;
  margin-left: 185px;
  font-family: 'Roboto';
}
.instructions {
  padding-top: 185px;
  background-color: #2A2A2A;
}
/*3 cards css*/
.row {
  margin-top: 30px;
  margin-bottom: 90px;
}
.bg-img-1 {
  background-image: url('../images/splash01.jpg');
  height: 255px;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
  background-position: center center;
  position: relative;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.bg-img-2 {
  background-image: url('../images/splash02.jpg');
  height: 255px;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
  background-position: center center;
  position: relative;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.bg-img-3 {
  background-image: url('../images/splash03.jpg');
  height: 255px;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
  background-position: center center;
  position: relative;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.bg-img-1:after, .bg-img-2:after, .bg-img-3:after {
  content: '';
  background-color: #F6482B;
  height: 18px;
  width: 195px;
  position: absolute;
  margin-bottom: -18px;
  bottom: 0;
}
.bg-img-2:after {
  left: 82px;
}
.bg-img-3:after {
  right: 0;
}
.bg-img-1:before, .bg-img-2:before, .bg-img-3:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  background: #606060;
  background: linear-gradient(42deg, rgba(96, 96, 96, 0.3) 0%, hsla(0, 0%, 38%, 0.3) 99%);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
/*Aim, rules and controls text css*/
.instructions h2 {
  font-size: 40px;
  color: #fff;
  line-height: 55px;
  font-weight: 400;
  position: absolute;
  bottom: 40%;
  left: 15%;
  margin-bottom: 75px;
  font-family: 'roboto';
}
.instructions p {
  font-size: 16px;
  color: #fff;
  line-height: 24px;
  font-weight: 300;
  margin-top: 30px;
  margin-bottom: 30px;
}
.text-bottom p {
  font-size: 16px;
  color: #fff;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
  height: 25vh;
  text-align: justify;
  margin-left: 25px;
  margin-right: 25px;
}
.text-bottom {
  padding: 15px;
  background-color: #393737;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
/*Modal for trailer css*/
#myModal {
  position: absolute;
}
#myModal video {
  width: 1200px;
  height: 675px;
  margin-left: calc(50% - 600px);
  margin-top: 25px;
}
/*Footer css*/
.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #2a2a2a;
  color: rgba(255, 255, 255, 0.726);
  text-align: center;
}
